body {
    text-align: center;
    font-family: "Montserrat", sans-serif;
}
h1{
    font-weight: 300;
}
.quadrado {
    text-align: center;
    width: 50px;
    background: #eee;
    display: inline-block;
    padding: 40px;
    font-size: 60px;
    border-radius: 10px;
    margin: 5px;
    cursor: pointer;
    color: #eee;
}

.jogador, .vencedor {
    font-size: 20px;
    margin-top: 10px;
}

button {
    margin-top: 10px;
    width: 100px;
    height: 30px;
    border-radius: 5px;
    background: #eee;
    cursor: pointer;
}

button:hover{
    background: #b1adad;
}